.container{
    position: relative;
  }
  
  .container .card{
    position: relative;
    width: 15rem;
    height: 450px;
    background: rgb(177 167 94 / 27%);
   
    border-radius: 20px;
    overflow: hidden;
    margin: 2rem;
  }
  
  .container .card:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(#c8935b, rgb(173, 159, 159));
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
  }
  
  .container .card:hover:before{
    clip-path: circle(300px at 80% -20%);
  }
  
  .container .card:after{
    
    position: absolute;
    top: 50%;
    left: -5%;
    font-size: 5rem;
    font-weight: 800;
    font-style: italic;
    color: white
  }
  
  .container .card .imgBx{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 100%;
    height: 220px;
    transition: 0.5s;
  }
  
  .container .card:hover .imgBx{
    top: 0%;
    transform: translateY(0%);
      
  }
  
  .container .card .imgBx img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) /* rotate(-25deg) */;
    width: 270px;
    border-radius: 6px;
  }
  
  .container .card .contentBx{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    text-align: center;
    transition: 1s;
    z-index: 10;
  }
  
  .container .card:hover .contentBx{
    height: 210px;
  }
  
  .container .card .contentBx a h4{
    position: relative;
    font-weight: 600;
    letter-spacing: 0.25px;
    color: #212529;
    margin: 0;
  }