

.icon{
    width: 35px;
    margin-left: 1rem;
   
}
.cart{
    display: flex;
    place-content: flex-end;
   
}
.cart > p {
    font-size: medium;
}
.row {    
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: space-evenly;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

@media (max-width: 499px) {

.row{
    flex-direction: column;   
    align-content: center;
}
div{
    padding-top: 0rem;
}
.pagination{
    display: flex;
    flex-wrap: wrap;
}
.pagination > div > ul > button {
    width: 1.9rem;
    padding: 0rem;    
}


}

/* .filtroPrecio{
    margin-left: auto;
    margin-right: 5rem;
    margin-top: 50px;

} */
