.bg {
    position: fixed;
    --bs-bg-opacity: 1;
    background-color: rgba(78, 78, 78, 0.664);
    height: 100vh;
    width: 100vw;
    top: 0px;
    z-index: 5;
    display: flex;
}

.pushWrap {
    width: 100vw;
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
    margin-top: auto;
    padding: 25px;
    text-align: center;
}

.pushbarTitle {
    color: rgb(240, 248, 255);
    /* padding: 10px; */
}

.inputPushbar {
    margin-left: 2px;
}

.formPushbar {
    padding: 5px;
}


/* @import url('https://cdn.jsdelivr.net/npm/pushbar.js@1.0.0/src/pushbar.min.css'); */

/* html.pushbar_locked {
    overflow: hidden;
    -ms-touch-action: none;
    touch-action: none;
}

.pushbar_locked .pushbar_main_content.pushbar_blur {
    filter: blur(15px);
}

.pushbar_overlay {
    z-index: -999;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    will-change: opacity;
    transition: opacity 0.5s ease;
    opacity: 0;
    background: #3c3442;
}

html.pushbar_locked .pushbar_overlay {
    opacity: 0.8;
    z-index: 999;
}

[data-pushbar-id] {
    z-index: 1000;
    position: fixed;
    overflow-y: auto;
    will-change: transform;
    transition: transform 0.5s ease;
    background: #fff;
}


[data-pushbar-direction="bottom"][data-pushbar-id] {
    bottom: 0;
    transform: translateZ(0) translateY(100%);
}

[data-pushbar-id].opened {
    display: block;
    transform: translateX(0px) translateY(0px);
} */