.box{
    display: flex;
    max-width: 900px;
    min-width: 290px;
    margin: 25px;
}
.icon{
    width: 25px;
    
   
}
.thumb img {
    max-width: 10%;
    max-height: 10%;
    
}
.thumb {
    flex-direction: row;
    margin: 10px;
    
    
}
.titulo {
    margin-top: 50px;
}