.box{
    display: flex;
    max-width: 900px;
    min-width: 290px;
    margin: 25px;
}
.icon{
    width: 25px;
    
   
}
.thumb img {
     max-width: 10rem; 
 /*    max-height: 10%;  */
    
}
.thumb {
    display: flex;
    flex-direction: row;
    margin: 10px;
  
    
}
.thumb > div {
    max-width: min-content;
    margin: 1rem;  
    position: relative; 
    max-width: 10rem;
}
.thum > div > button {
    background: none;
}
.titulo {
    margin-top: 50px;
}
.btnX{
    
    width: 27px;
    height: 27px;
    border-radius: 9px;
    background:black;
    color: white;
    border: none;
   
    
			
}
.errorSpan{
    margin: 1rem;

    color: red;
}