.mainPass{
    border: none;
    display: flex;
    justify-content: center;
}

.containPass{

    max-width: 800px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;


}


.formPass{
    border: 2px solid #000000;
    border-radius: 2rem;
    width: 50vw;
    height: 50vh;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 3px 3px 5px #000000;
    position: relative;
}

.namePass{
   justify-self: self-start; 
   font-size: 1.5rem;
   text-align: center;
}
.inputText{
    width: 58%;
    height: 10%;
    border-radius: .7rem;
    border: 1px solid #00000080;
    outline-color: #B5FE83;

}
.btnPass{
    cursor: pointer;
    border-radius: .7rem;
    width: 58%;
    height: 10%;
    border: 1px solid #00000080;
    box-shadow: 2px 2px 5px #000000;
    transition: .3s all;
}
.btnPass:hover{
    font-size: 1.2rem;
    transition: .3s all;

}
.none{
    display: none;
}
.errorInp{
    border: 1px solid red;
    outline-color: red;
    width: 48%;
    border-radius: .7rem;
}
.errorPass{
    position: absolute;
    top: 60%;
    color: red;
    font-weight: bold;

}

@media (max-width:485px) {
    .containPass{
        width: 100%;
           
    }

    .formPass{
        border-radius: 2rem;
        width: 70vw;
        height: 40vh;
    }
    .inputText,
    .btnPass{
        width: 78%;
    
    }
    
}