.main_reset {
    padding: 1rem 0px;
    display: flex;
    justify-content: center;
  }
  
  .formPass {
    border: 1px solid lightgrey;
    padding: 1rem 3rem;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  }
  
  .containerPassword > input {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .containerPassword > button {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  
  .inputPass {
    border-radius: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .buttonPass {
    background-color: black;
    color: white;
  }
  .divButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0px;
  }
  .divButton > button {
    border-radius: 15px;
    padding: 0px 2rem;
  }

  .confirmPassword{
      color:red
  }