.ObjectDetectorContainer {
  

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  .DetectorContainer {
    
    min-width: 200px;
    height: 600px;
    /* border: 3px solid gray; */
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  
  .TargetImg  {
    height: 100%;
  }
  
  
  .HiddenFileInput {
    display: none;
  }
  
  
  .SelectButtonTS {
    padding: 7px 10px;
    margin-right: 10px;
    
    margin-bottom: 2em;
    
  }
    
  
    .pbox{
      color: #1ac71a;
      font-weight: 500;
      font-size: 17px;
      position: absolute;
      top: -1.5em;
      left: -5px;
      background-color: #fff;
    }
  

    .headerTS{
    color: #c8935b;
    margin-top: 2rem;
    text-align: center;
    }

    .subheaderTS{
      color: #c8935b;
    text-align: center;
    }


    .TSspinner{
      max-height: 200px;
      display: table;
      justify-content: center;
      align-items: center;
      margin: 20px auto;
  }

  .IMGspinner {
    max-height: 200px;
    align-items: center;
    
  }

  .TSscrollBtn {
    margin-top: 3rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }


  
  /* .spinnerTxt{
      justify-content: center;
      align-items: center;
      display: table;
      margin: 0 auto;
  } */
  /* .imgSpinner{
      max-width: 30px;
  }  */