div{
    font-family: 'Raleway', sans-serif;
  
}
div> a{
    text-decoration: none;
    color: black;
}
div > p{
    font-size: 12px;
}


.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none;
    border-radius: 0.25rem;   
    padding: 0%;
}
@media (max-width: 499px) {
  .card{
      min-inline-size: fit-content ;
  } 

}

