.cnt {
    padding: 20px;
  }
  
  .title {
    display: flex;
    /* background-color: #212529; */
    background-color: lightgray;
    color: #212529;
    font-family: "Montserrat", sans-serif;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    border: none;
  }
  
  .labels {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    color: #212529;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
  }
  
  .pdn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
    left: 0;
  }
  
  .toggle {
    width: 320px;
  }
  
  .item {
    font-size: 11px;
    max-width: 320px;
    outline: scroll;
    margin: 0;
    padding-left: 5px;
  }
  
  .btns {
    display: flex;
    flex: content;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
  }
  
  .headers {
    border: 1px solid lightgray;
  }
  
  .text {
    font-family: "Open Sans", sans-serif;
  }
  
  .links {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
  }
  
  .card {
    border: none;
  }
  
  .tabsDelivery {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .bodyDelivery {
    height: 150px;
    display: flex;
    justify-content: center;
  }
  
  .card {
    display: flex;
    justify-content: center;
  }
  
  .checkoutItems {
    display: flex;
    flex-direction: row;
  }
  
  .listgroup {
    font-family: "Montserrat", sans-serif;
    justify-content: center;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .input {
    padding: 5px 2px;
    margin: 10px 10px;
    width: fit-content;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
  }
  
  .datosEnvio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .inputDatosEnvio {
    width: 400px;
    margin-left: 20px;
    padding: 5px 2px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
  }
  
  .buttonConfirmarCompra {
    display: flex;
    justify-content: center;
    margin: 40px 40px;
  }
  
  .total {
    font-size: 18px;
    padding: 3px;
    display: flex;
    justify-content: center;
    color: white;
    background-color: #212529;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 20px;
  }
  
  .checkout {
    font-family: "Montserrat", sans-serif;
    border-radius: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 365px;
    margin-bottom: 20px;
    font-size: 18px;
  }
  
  .turno {
    display: flex;
    align-items: center;
  }
  
  .span {
    font-size: 15px;
  }
  @media only screen and (min-width: 1000px) {
    .listgroup {
      flex-direction: row;
    }
    .datosEnvio {
      flex-direction: row;
    }
  
    .toggle {
      width: 450px;
    }
  
    .item {
      font-size: 16px;
      max-width: 450px;
    }
  
    .span {
      font-size: 16px;
    }
  }