.container{
    margin-top: 2rem;
}
.containerTitle{
    margin-top: 1rem;
}
.profile{
    
    padding-top: 0rem;

    position: relative;
  
}
.buttons{
    height: 2rem;
    display: flex;
    place-content: space-between;
   
}
.btnLink{
    text-decoration: underline;
 color: black;
 font-weight: bold;
 background: none;
 border: none;
 font-size: small;
}
.btnLink:hover{
    color: #1661d1; 
   
}
.btnLink > a {
        text-decoration: underline;
 color: black;
 font-weight: bold;
 font-size: small;
     
}
.title{
    font-weight: bold;
    background: -webkit-linear-gradient(#c8935b, rgb(173, 159, 159));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  /*   color:#c8935b; */
    width: 7.9rem;
    margin-bottom: 1rem;
}
.profileImg{
    width: 8rem;
    border-radius: 25%;
    box-shadow: 0 0 0 0.45px #0000005c; ;
    background-color: #fff;
    border: 1px solid #dee2e6;
    max-width: 100%;
    height: auto;
    
}

.iconCam{
    border: none;
}
.profilePicDiv{ 

    padding: 0.25rem;
    margin-bottom: 1rem;

}
.profilePicDiv > img {
    align-self: center;
}
.modalClose{
    top: 1rem;
    right: 1rem;
    float: right;
    border: none;
    border-radius: 5px;
    margin-top: 0.2rem;
    margin-right: 0.2rem;
    font-weight: bold;
    background: none;
}
.modalClose:hover{
    color: #ff001891;
    transition: 6ms
}
