ul {
   
    list-style-type: none;
    position: relative;
    margin:  25px;
    padding: 2px;
    /* overflow: hidden; */
   
  }
  
  li {
    float: left;
  }
  
  li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 6px 10px;
    text-decoration: none;
  }
  
  
  li a:hover {
    background-color: #111;
  }

.navlink {
    color: white;
    text-decoration: none;
  }

.button{
   text-decoration: none;
    color: white;
    padding: 6px 10px;
    display: inline-block;
    border: none;
    background-color: #f44336;
}
 nav{
  border-bottom: solid 2px black;
} 

 .navbar-brand span {
  display: flex;
  justify-content: center;
  font-family: monospace;
}

.navbar-brand > .text {
  max-width: 0;
  animation: typing 3s steps(var(--characters)) infinite;
  white-space: nowrap;
  overflow: hidden;
}

.navbar-brand:after {
  content: " |";
  animation: blink 1s infinite;
  animation-timing-function: step-end;
}

@keyframes typing {
  75%,
  100% {
    max-width: calc(var(--characters) * 1ch);
  }
}

@keyframes blink {
  0%,
  75%,
  100% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
} 
 
