

.title {
    color: white;
    font-family: "MonteCarlo", cursive;
    background-color: #646464;
    opacity: 0.75;
    border-radius: 5px;
    
}

.labelExample{
    margin-top:2rem;
}

.tamaño {
   
    width: 100vh;
    height: 100%;
}
.containerCarousel{
    margin-top:17.67rem ;
    
   height: 63vw;
  
   
}

.containerImg{
   width:100vh;
   height: 100%;
   object-fit: cover;
    object-fit: contain;
    
}

.container{
    border: 1px solid #000;
    
}

.containerReg{
   margin:auto;
    display:flex;
    justify-content: center;
    margin-top: -200px;
}

.form {
    border: 1px solid #000;
    height: 75.5%;
    box-shadow: 1px 2px 3px #000000;
    margin-top:12rem;
    text-align: center;
   padding: 4%;
   height: fit-content;
   margin-bottom: 3rem;
}

.input{
  
  width: 95%;
  border-radius: .7rem;
  border: 2px solid #00000080;
  height: 2.5rem;
  margin-top: 0.7rem; 
/*   margin-bottom: 1rem;

 
  margin-bottom: 3rem; */
}

.contrasena {
    position:absolute;
    background-color: black;
    color: white;
    top: 68px;
    right: 13px;
    height:39px;
}

/* .inputContrasena{
    
    align-items: center;
    font-size: 23px;
    
} */
 .containerInput{
     position: relative;
     display: flex;
     justify-content:center;
     align-items: center;
     margin:auto;
     margin-top:-20px;
     margin-bottom:20px
 }
 .containerInputContrasena{
        /*   position: initial; */
     position: relative;
     /* display: flex; */
     justify-content:center;
    /*  align-items: center; */
     
        
     /* margin-bottom:2rem */
 }

 .formInput{
     margin:auto;
     margin-top: -25px;
     margin-bottom:30px;
    position: relative;
 } 

 .span{
    /*  position: absolute; */
  /*    display: flex; */
     /*  margin-left: 6.2rem;  */
      width: 5rem;
     
 }

 .divPasswordR > button {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }