

.title {
    color: white;
    font-family: "MonteCarlo", cursive;
    background-color: #646464;
    opacity: 0.75;
    border-radius: 5px;
    
}

.tamaño {
   
    width: 100vh;
    height: 100%;
}
.containerCarousel{
    margin-top:17.67rem ;
    
   height: 63vw;
  
   
}

.containerImg{
   width:100vh;
   height: 100%;
   object-fit: cover;
    object-fit: contain;
    
}

.container{
    border: 1px solid #000;
    
}

.containerReg{
   margin:auto;
    display:flex;
    justify-content: center;
    margin-top: -200px;
}

.form {
    border: 1px solid #000;
    height: 75.5%;
    box-shadow: 1px 2px 3px #000000;
    margin-top:12rem;
    text-align: center;
   padding: 4%;
}

.input{
  
  width: 95%;
  border-radius: .7rem;
  border: 2px solid #00000080;
  height: 2.5rem;
/*   margin-top: 1.7rem; */

 
  margin-bottom: 3rem;
}

.contrasena {
   position: absolute;
  left: 87.2%;
  top:23%;
     border-radius: .8rem;
     width: 2.7rem;
     height: 2.3rem;
}

.inputContrasena{
    
    align-items: center;
    font-size: 23px;
    
}
 .containerInput{
     position: relative;
     display: flex;
     justify-content:center;
     align-items: center;
     margin:auto;
     margin-top:-20px;
     margin-bottom:20px
 }
 .containerInputContrasena{
          position: initial;
     display: flex;
     justify-content:center;
     align-items: center;
     
        width: 21.39rem;
     /* margin-bottom:2rem */
 }

 .formInput{
     margin:auto;
     margin-top: -25px;
     margin-bottom:30px;
    position: relative;
 } 

 .span{
     position: absolute;
  /*    display: flex; */
      margin-left: 6.2rem; 
      width: 5rem;
     
 }