

.messenger {
    height: 500px;
    display: flex;
    max-width: 1000px;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
  }
  
  .chatMenu{
    flex: 3.5;
  }
  
  .chatBox{
    flex: 5.5;
  }
  .chatOnline{
    flex: 3;
  }
  
  
  .chatMenuWrapper, .chatBoxWrapper, .chatOnlineWrapper{
      padding: 10px;
      height: 100%;
  }
  
  .chatMenuInput{
    width: 90%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid gray;
  }
  
  .chatBoxBottom{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .chatBoxWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }
  
  .chatBoxTop{
    height: 100%;
    /* //overflow-y: scroll; */
    padding-right: 10px;
    flex-grow: 1;
  
    overflow: auto;
  }
  
  .chatMessageInput{
    width: 80%;
    height: 90px;
    padding: 10px;
  }
  
  .chatSubmitButton{
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: teal;
    color: white;
  }

  .noConversationText{
      position: absolute;
      margin-top: 50px;
      font-size: 50px;
      color: gray;
      cursor: default;
  }