
.container{
    display: flex;
    flex-direction: row;
    place-content: center;
    justify-content: space-evenly;
}


.title{
    text-align-last: center;
    font-weight: bold;
    background: -webkit-linear-gradient(#c8935b, rgb(173, 159, 159));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}